@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>Public Web Services is a project developed for the subject of integration af applications with open source and proprietary technology</h3>
