@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Public Web Services</h1>
</div>
<h2>Project developed by:</h2>
<div class="row">
    <div class="col-md-4">
        <h3>Ronald Ogando</h3>
    </div>
    <div class="col-md-4">
        <h3>Julio Sanchez</h3>
    </div>
    <div class="col-md-4">
        <h3>Nancy Campusano</h3>
    </div>
</div>